$bgcolor: blue;
$font: 'Arial';
/*BODY*/

body{
    font-family: $font;
	margin: 0;
	min-height: 100vh;
}

.container {
    display: flex;

    .logo {
        margin: 0;
        font-size: 1.45em;
        width: auto;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
      }

    li{
        flex: 1;
        list-style: none;
    }

    h3{
        color:  rgb(25, 111, 192);
        font-size: 24px;
    }

  .btn {
    cursor:pointer;
    display:inline-block;
    margin: 3px 10px;
    font-size: 12px;
    font-family: $font;
    }
    
    .btn-green{
        background-color:#009E60;
        color:#fff;
        padding:6px 10px;  
    }
   
    .btn-blue {
        background-color: white;
        color: #008CBA;
        padding: 6px 12px;
        text-align: center;
        border: 1px solid #008CBA;
        font-weight: bold;
    }
    }


/*UNLOCK Paragraph*/
.unlock{
    padding: 10px;
    font-size: 20px;
    color: rgb(25, 111, 192);
    background: rgb(199, 193, 193);
}

/*MAIN CONTENT*/

.row{
    display: flex;
    flex-wrap: wrap;
    
    .side{
        flex: 20%;
        background: #f1f1f1;
        padding: 20px;
        
        .categories {
            list-style-type: none;
            font-size: 20px;
            color: grey;
            margin-top: 5px;
            padding-left: 10px;
            line-height: 2.5;
        }
    }

    .main{
        flex: 70%;
        background-color: white;
        padding: 20px;
    }
}

/*FOOTER*/

#main-footer{
    padding: 20px;
    text-align: center;
    background: #666;
    color: #fff;
    font-size: 20px;
    
    li{
        display: inline;
        padding: 5px;
        color: #fff;
    }
    a {
        display: inline;
        color: aqua;
        text-decoration: none;
    }
}

/*MEDIA QUERIES*/
@media screen and (max-width: 700px) {
    .row, .container {   
      flex-direction: column;
    }
  }